@media (max-width: 3000px){
  
  html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.facebook {
  width:50px;
}
#home {
  position:relative;
  width:100%;
  z-index:500;
  margin:0;
  /*  border:1px solid red;*/
  
}

#systemrequirements {
  position:relative;
  width:100%;
  z-index:500;
  padding-top:100px;
}

hr {
  border:1px solid ##A7A9AC;
  margin-top:-8px;
  
}

#header {
  display:block;
  position:fixed;
  top:0;
  height:105px;
  width:100%;
  background-color:#414141;
  z-index:500;
  
  
}

/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}

.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

body {
  margin: 0;
}

a {
  text-decoration:none;
  color:white;
}
a.blue {
  text-decoration:none;
  color:#547FC0;
}
a.blue:visited {
  text-decoration:none;
  color:#547FC0;
}
a:visited {
  text-decoration:none;
  color:white;
}

a:hover {
  color:#547FC0;
}

h3:hover {
  color:#3FA9F5;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

a.white {
  color:white;
}
a.white:hover {
  color:black;
  
}

ul li {
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
}

li.bullets {
  display:block;
  text-align:left;
  
  
}

#mobileannouncement {
  display:none;
}

#hero {
  position:relative;
  display:block;
  width:100%;
  margin:0;
/*  border:1px solid red;*/
}

br.show {
  display:none;
}

#hero-image {
  position:relative;
  width:100%;
  height:720px;
  background-image:url("../assets/genooghero.jpg");
  background-size:cover;
  background-position:50% 10%;
  top:0;
  padding-top:3%;
  display:block;
 
}
#mobilemenu{
  display:none;
}

#blue {
  position:relative;
  display:block;
  width:100%;
  background-color:#4EA1D9;
  padding:8%;
/*  border:1px solid;*/
  
}

#arrow {
  width:40px;
  position:fixed;
  bottom:5px;
  right:5px;
  display:block;
  z-index:1000;
}

#wrapper {
  position:relative;
  top:80px;
}

h1 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight:400;
  line-height:0;
  margin-bottom:45px;
}

h1.pages {
  position:relative;
  color:#547FC0;
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  font-weight:300;
  margin-bottom:45px;
  line-height:35px;
}

p {
  position:relative;
  color:#A7A9AC;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight:200;
  line-height:30px;
}

p.left {
  text-align:left;
}
p.blue {
  color:#547FC0;
}


#logo {
  width:180px;
}
#logo2 {
  width:100px;
}

h2 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  font-size: 31px;
  font-weight:300;
  margin-bottom:30px;
}
.sentence {
  margin-left:-130px;
}


h3 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight:300;
}

h4 {
  position:relative;
  color:#547FC0;
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  font-weight:300;
  margin-bottom:-10px;
  line-height:41px;
}

h4.white {
  color:white;
}
h4.blue {
  color:#547FC0;
}
p.white {
  color:white;
}
button.blue {
  border-radius:7px;
  background-color:#547FC0;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border:none;
  padding:15px;
  -webkit-appearance:none;
}

button.blue.login {
  border-radius:7px;
  background-color:#547FC0;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border:none;
  padding:15px;
  -webkit-appearance:none;
}

.submit {
  float:right;
  background-color:#A6C2E5;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border:none;
  padding:15px;
  margin-top:15px;
  margin-right:0px;
  border-radius:10px;
  -webkit-appearance:none;
}

.submit:hover {
  background-color:#547FC0;
  color:white;
}
button:hover {
  background-color:#BCBEC0;
  color:white;
}
button.blue.login:hover {
  background-color:#BCBEC0;
  color:white;
}

h5 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight:100;
  margin-top:12px;
  

}

#camera {
  transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-animation-name:none;
  -o-transform-origin:50% 50%;
}
#email {
  transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-animation-name:none;
  -o-transform-origin:50% 50%;
}
#list {
  transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-animation-name:none;
  -o-transform-origin:50% 50%;
}
#cloud {
  transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-animation-name:none;
  -o-transform-origin:50% 50%;
}

.form {
  position:relative;
  background-color:#547FC0;
  text-decoration:none;
  border:none;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  color:white;
  padding:5%;
  margin:-14px;
  width:400px;
  border-radius:15px;
}

.form.message {
  padding:15%;
  
}

#form_container {
  margin-top:30px;
  width:370px;
  color:white;
}

#login_form {
  margin-top:30px;
  width:370px;
  color:white;
  margin-bottom:100px;
}

nav {
  position:absolute;
  top:-15px;
  right:10px;
}

.social {
  position:relative;
  top:10px;
  width:40px;
  margin-left:-25px;
  margin-right:-25px;
}

#hamburger {
  display:none;
  position:absolute;
  width:40px;
  z-index:2000;
  left:10px;
  top:20px;
  
}

#socialshare {
  position:relative;
  height:100px;
  width:300px;
/*  background-color:black;*/
  z-index:5000;
  margin-top:-190px;
  
}
footer {
  position:relative;
  bottom:0;
  color:#BCBEC0;
  background-color:#F4F4F4;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight:300;
  padding:2%;
  
}

#mobile {
  display: inline;
}

#works {
  position:relative;
  width:100%;
  padding:3% 10% 3% 10%;
  margin-top:-1%;
/*  border:1px solid;*/
  
}

#pagebody {
  position:relative;
  width:100%;
  padding:3% 10% 3% 10%;
}



#headerlogo{
  display:block;
  position:absolute;
  top:-8px;
  height:120px;
  width:100px;
  left:15px;
}

#tryit {
  position:relative;
  width:100%;
  background-color:#A6C2E5;
  padding:3% 10% 3% 10%;
  
}

#video {
  position:relative;
  width:100%;
  background-color:#547FC0;
  height:400px;
}

#videotop {
  position:relative;
  width:100%;
  background-color:white;
  height:300px;
  
}

#video_container {
  position:relative;
  width:640px;
  height:480px;
  background-color:black;
  top:-200px;
 
}

#thankspage {
  position:relative;
  width:100%;
  background-color:#F4F4F4;
  padding:3% 10% 3% 10%;
  
}
#howitworks {
  
 
  z-index:500;
}



#contact {
  position:relative;
  width:100%;
  padding:3% 10% 3% 10%;
  margin-bottom:8%;
/*  border:1px solid;*/
  
}
#howitworksmobile {
  display:none;
  
}


}

@media (max-width: 1800px){
  
 #wrapper {
    position:relative;
    top:20px;
  }
  
  #howitworks {
   
   z-index:500;
  }
  #hero-image {
    
    height:650px;
  }
}



@media (max-width: 1059px){

  
  h1 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight:100;
    line-height:50px;
    margin-bottom:6px;
  
  }
  
  nav {
    display:none;
  }
  
  #header {
    display:none;
  }
  
  #systemrequirements {
    position:relative;
    width:100%;
    z-index:500;
    padding-top:20px;
  }
  
  #mobilemenu {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:650px;
    background-color: rgba(84,128, 193, .95);
    z-index:1000;
    color:white;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight:300;
    line-height:42px;
    padding-top:15px;
  }
  #hamburger {
    display:block;
  }
  
  h2 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-weight:300;
    margin-bottom:30px;
    line-height:30px;
    margin:2%;
  }

  h4 {
    position:relative;
    color:#547FC0;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight:300;
    margin-bottom:25px;
    line-height:39px;
  }
  #tryit {
    position:relative;
    width:100%;
    background-color:#A6C2E5;
    padding:3% 10% 10% 10%;
  
  }
  

  
  #contact {
    position:relative;
    width:100%;
    padding:3% 10% 3% 10%;
    margin-bottom:18%;
 
  
  }
  
  #nav {
    display:none;
  
  }
  
  #headerlogo{
    display:none;
  }
  #video_container {
    
    width:576px;
    height:432px;
    
  }
 
 
}
@media (max-width: 800px){
  #mobileannouncement {
    display:block;
    border:3px solid #A4C0E4;
    border-radius:15px;
    padding:2%;
    margin-top:60px;
  }
  
  #header {
    display:none;
    
  
  }
  #video_container {
    width:448px;
    height:336px;
  }
  #video {
    position:relative;
    width:100%;
    background-color:#547FC0;
    height:250px;
  }

  h1 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight:700;
    line-height:50px;
    margin-bottom:0px;
  
  }
  h2 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 21px;
    font-weight:300;
    margin-bottom:30px;
    line-height:30px;
    
  }
  #wrapper {
    position:relative;
    top:20px;
    margin:2%;
/*    border:1px solid red;*/
  }
  

  
  .sentence {
    margin-left:-80px;
    
  }
  
  #tryit {
    position:relative;
    width:100%;
    background-color:#A6C2E5;
    padding:3% 10% 10% 10%;
  
  }
  

  
}

@media (max-width: 600px){

  #wrapper {
    position:relative;
    top:20px;
    margin:2%;
  }
  
  .submit {
    float:right;
    background-color:#A6C2E5;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border:none;
    padding:15px;
    margin-top:25px;
    margin-right:30px;
    border-radius:10px;
    -webkit-appearance:none;
  }
  
 
  .sentence {
    margin-left:-60px;
    
  }
  
  h2 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight:300;
    margin-bottom:30px;
    line-height:30px;
  }
  
  .form {
    position:relative;
    background-color:#547FC0;
    text-decoration:none;
    border:none;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color:white;
    padding:5%;
    margin:-14px;
    width:100%;
    border-radius:20px;
  }

  .form.message {
    padding:15%;
  
  }

  #form_container {
    margin-top:30px;
    margin-bottom:30px;
    margin-left:3%;
    width:100%;
    color:white;
  }
  
  #login_form {
    margin-top:30px;
    margin-bottom:130px;
    margin-left:3%;
    width:100%;
    color:white;
    
  }
  #tryit {
    position:relative;
    width:100%;
    background-color:#A6C2E5;
    padding:3% 10% 10% 10%;
  
  }
  br.show {
    display:block;
  }
  #howitworks {
    display:none;
  }
  #howitworksmobile {
    display:block;
    margin-top:-10px;
    margin-bottom:20px;
  }

  #video_container {
    width:448px;
    height:336px;
    top:-100px;
  }
  #videotop {
    position:relative;
    width:100%;
    background-color:white;
    height:200px;
  
  }

  #video {
    position:relative;
    width:100%;
    background-color:#547FC0;
    height:300px;
  }
  
}

@media (max-width: 414px){
  

  #video_container {
    width:320px;
    height:240px;
  }
  
  #video {
    position:relative;
    width:100%;
    background-color:#547FC0;
    height:210px;
  }
  #hero-image {
    position:relative;
    width:100%;
    height:550px;
    background-image:url("../assets/genooghero.jpg");
    background-size:cover;
    background-position:50% 50%;
    top:0;
    padding-top:3%;
    display:block;
 
  }
  #mobilemenu {
    height:550px;
    line-height:35px;
  }
 
  #wrapper {
    position:relative;
    top:-25px;
    margin:2%;
/*    border:1px solid red;*/
  }
  h2 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    font-weight:300;
    margin-bottom:30px;
    line-height:30px;
    
  }

  
  h4 {
    position:relative;
    color:#547FC0;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight:300;
    margin-bottom:25px;
    line-height:39px;
  }
  #logo {
    width:180px;
    margin-bottom:-20px;
    margin-top:30px;
  }

  
  
}

@media (max-width: 320px){
  #video_container {
    width:256px;
    height:192px;
  }
}

